
*{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
}



:root{

    /* --main: #66FCF1; */
    --main: #b2fdf8;
    --sec: #FFFFFF;
    --darker: #111111;
    --blue: #45A29E;
    --accent: #B4B9FD;
    --red: #ff7575;
}

.text-main {
    color: var(--main)
}

.bg-main {
    background-color: var(--main) ;
}

.border-main {
    border: 2px solid var(--main)
}

.text-sec {
    color: var(--sec)
}

.bg-sec {
    background-color: var(--sec) ;
}

.border-sec {
    border: 2px solid var(--sec);
}

.text-darker {
    color: var(--darker) !important;
}

a{
    text-decoration: none !important;
}

.bg-darker {
    background-color: var(--darker) ;
}

.border-darker {
    border: 2px solid var(--darker);
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue) ;
}

.border-blue {
    border: 2px solid var(--blue);
}

.text-accent {
    color: var(--accent);
}

.bg-accent {
    background-color: var(--accent) ;
}

.border-accent {
    border: 2px solid var(--accent);
}

.text-red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red) ;
}

.border-red {
    border: 2px solid var(--red);
}

/* Altezza e larghezza div */
.vh-75 {
    height: 75vh;
}

.vw-80 {
    width: 50% !important;
}

/* logo */
.logo-nav {
    height: 50px;
}

.logo-header {
    height: 600px;
}

/* Navbar2 */
.nav-el {
    padding: 28px 0;
}

.nav-el li {
    display: inline-block;
    margin: 0 15px;
}

.nav-el li a {
    text-decoration: none;
    color: var(--darker);
    padding: 5px 0;
    position: relative;
}

.nav-el li a::after {
    content: '';
    background: var(--main);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-el li a:hover::after {
    width: 100%;
}

.btn-newadd {
    background: var(--main);
    color: white !important;
    padding: 10px 30px !important;
    border-radius: 3px !important;
    cursor: pointer !important;
}


/* Swiper */
.swiper {
    width: 300px;
    height: 150px;
}

/* Search */
.searchContain{
    position: relative;
    width: fit-content;
    height: fit-content;
}
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.buttonInput, .buttonSearch
{
    color: #fff;
    /* font-family: Nunito; */
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: relative;
    /* top: 50%;
    left: 0; */
    right: 0;
    width: 750px;
    padding: 20px;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

.formSearch
{
    height: 96px;
}

.buttonInput[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 50px;
    line-height: 1;
}

.buttonInput[type="text"]::placeholder
{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

.buttonSearch
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 62px;
    height: 62px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.buttonSpan
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.buttonSpan:before, .buttonSpan:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover .buttonSpan
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover .buttonSpan:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover .buttonSpan:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover .buttonSpan:before, #s-cover:hover .buttonSpan:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

/* categoryList */
.categoryList {
    position: relative;
    height: auto;
    top: -75px;
    box-shadow: 15px 15px 10px gray;
    border-radius: 20px;
}


@media screen and (max-width: 768px) {
    .vh-75{
        height: 100vh;
    }
    .categoryList{
        top: -50px;
    }
}
