
*{
    font-family: 'Lato', sans-serif;
}
:root{

    /* --main: #66FCF1; */
    --main: #b2fdf8;
    --sec: #FFFFFF;
    --darker: #111111;
    --blue: #45A29E;
    --accent: #B4B9FD;
    --red: #ff7575;
    --night: #23395B;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   /* Footer height */
}

#sidebarMenu{
    background-color: rgba(16 18 27 / 40%);
    height: 100%;
    padding-bottom: 800px;
	margin-bottom: -800px;
    z-index: 1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.logoDiv{
    width: 30px !important;
    transform: rotate(-75deg);
    animation: slideInFromLeft 1.5s ease-in-out;
}
@keyframes slideInFromLeft {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-100deg);
    }
    100% {
        transform: rotate(-75deg);
    }
}

.text-main {
    color: var(--main)
}

.bg-main {
    background-color: var(--main) ;
}

.border-main {
    border: 2px solid var(--main)
}

.text-night {
    color: var(--night)
}

.bg-night {
    background-color: var(--night) ;
}

.border-night {
    border: 2px solid var(--night)
}

.text-sec {
    color: var(--sec)
}

.bg-sec {
    background-color: var(--sec) ;
}

.border-sec {
    border: 2px solid var(--sec);
}

.text-darker {
    color: var(--darker) !important;
}

a{
    text-decoration: none !important;
}

.bg-darker {
    background-color: var(--darker) ;
}

.border-darker {
    border: 2px solid var(--darker);
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue) ;
}

.border-blue {
    border: 2px solid var(--blue);
}

.text-accent {
    color: var(--accent);
}

.bg-accent {
    background-color: var(--accent) ;
}

.border-accent {
    border: 2px solid var(--accent);
}

.text-red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red) ;
}

.border-red {
    border: 2px solid var(--red);
}

/* Altezza e larghezza div */
.vh-75 {
    height: 75vh;
}

.vw-80 {
    width: 50% !important;
}

/* logo */
.logo-nav {
    height: 50px;
}

.logo-header {
    height: 600px;
}

/* Navbar2 */
.nav-el {
    padding: 28px 0;
}

.nav-el li {
    display: inline-block;
    margin: 0 15px;
}

.nav-el li a {
    text-decoration: none;
    color: var(--darker);
    padding: 5px 0;
    position: relative;
}

.nav-el li a::after {
    content: '';
    background: var(--main);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-el li a:hover::after {
    width: 100%;
}
.btn-newadd {
    background: var(--main);
    color: white !important;
    padding: 10px 30px !important;
    border-radius: 3px !important;
    cursor: pointer !important;
}
.anchorCustom{ 
    color: inherit;
    transition: linear 0.2s;
}
.anchorCustom:hover{
    color: inherit;
    transform: translate(0%, -20%);
}

/* Swiper */
.swiper {
    width: auto;
    height: auto;
}

/* Search */
.searchContain{
    position: relative;
    width: fit-content;
    height: fit-content;
}
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.buttonInput, .buttonSearch
{
    color: #fff;
    /* font-family: Nunito; */
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: relative;
    /* top: 50%;
    left: 0; */
    right: 0;
    width: 750px;
    padding: 20px;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

.formSearch
{
    height: 96px;
}

.buttonInput[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 50px;
    line-height: 1;
}

.buttonInput[type="text"]::placeholder
{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

.buttonSearch
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 62px;
    height: 62px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.buttonSpan
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.buttonSpan:before, .buttonSpan:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover .buttonSpan
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover .buttonSpan:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover .buttonSpan:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover .buttonSpan:before, #s-cover:hover .buttonSpan:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

/* categoryList */
.categoryList {
    position: relative;
    height: auto;
    top: -75px;
    box-shadow: 15px 15px 10px gray;
    border-radius: 20px;
    z-index: 20;
}

/* Card Styles */

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    border-radius: 0 0 8px 8px;
    animation: ease-in-out 0.5s;
}

.card-button:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .vh-75{
        height: 100vh !important;
    }
    .categoryList{
        position: static;
    }
}

.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.appContainerDash{
    max-width: 1150px;
    padding: 30px 0px;
    max-height: fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}
.app{
    background-color: rgba(16 18 27 / 40%);
    max-width: 1150px;
    max-height: fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
}

.imgWaveHeader{
    z-index: 1001;
}

.headContainer{
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/img/wave.png');
    background-size: 1000px 100px;
}

.wave1{
    animation: animate 30s linear infinite;
    z-index: 10;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave2{
    animation: animate2 15s linear infinite;
    z-index: 9;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.wave3{
    animation: animate 30s linear infinite;
    z-index: 8;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.wave4{
    animation: animate2 5s linear infinite;
    z-index: 7;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
.navbar{
    background-color: rgba(16 18 27 / 40%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}


/* Category cards */
.categorycontainer{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
  }
  
  .categorycontainer:hover .categoryoverlay{
    opacity: 1;
    transform: scale(1);
  }
  
  .categoryoverlay{
    position: absolute;
    background-color: rgba(255,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
  }
  
  .categoryoverlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    font-family: Sans-serif;
  }
  
  .categorycontainer img{
    transition: transform .8s ease;
  }
  
  .categorycontainer:hover img{
    transform: scale(1.1);
  }
.alert{
    border-radius: 25px;
    width: 50%;
    align-self: center;
    margin-bottom: 0 !important;
}
.alert-success{
    background-color: #33AB83 !important;
    /* color: white !important; */
    border: none;
}
.alert-danger{
    background-color: #FF4365 !important;
    border: none;
}
